<!DOCTYPE html>
<html lang="en-US" class="bg-white subpixel-antialiased">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>{% block head_title %}Homeschool App{% endblock %}</title>
</head>


<body class="min-h-screen flex flex-col">
  
  {% include "nav.html" %}
  <div class="container mx-auto p-8 flex-grow">
        {% block content %}{% endblock %}
  </div>
  <footer class="container mx-auto border-t border-gray-400 p-4 text-center text-sm text-gray-600">
    <span class="mx-1">&copy; {% now "Y" %} Roberto García</span>
    <a href="#" class="mx-1 hover:text-gray-900">Acerca</a>
    <a href="#" class="mx-1 hover:text-gray-900">Terminos</a>
    <a href="#" class="mx-1 hover:text-gray-900">Privacidad</a>
  </footer>
</body>


</html>
